.card-container {
  max-width: 10cm;
  min-width: 10cm;
  margin-bottom: 10px;
}

.top-three-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

%top-three {
  flex: 1;
  margin: 5px;
  padding: 2px;
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.top-three-1 {
  @extend %top-three;
  background-color: gold;
}
.top-three-2 {
  @extend %top-three;
  background-color: silver;
}
.top-three-3 {
  @extend %top-three;
  background-color: #CD7F32;
}

h2 {
  margin-top: 0px;
}
