.root {
  flex: 1;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media (min-width: 48em) {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.tabContainer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column-reverse;

  @media (min-width: 48em) {
    flex-direction: row;
    align-items: center;
  }
}
